apiVersion: v2
name: akeyless-gateway
version: 1.18.0
description: A Helm chart for Kubernetes that deploys akeyless-gateway
type: application
keywords:
  - akeyless-gateway
  - sra
icon: https://akeyless-908832575.imgix.net/wp-content/uploads/2024/03/akeyless-2024.png?auto=format%2Ccompress&fm=webp&ixlib=php-3.3.0
appVersion: 4.45.0_2.8.2
annotations:
  gatewayVersion: 4.45.0
  sraVersion: 2.8.2
dependencies:
  - name: redis-ha
    version: 4.35.3
    repository: https://dandydeveloper.github.io/charts/
    condition: cacheHA.enabled
    alias: cacheHA
