{{/* RBAC rule to access the secret if enableScaleOutOnDisconnectedMode is true (for both existing and newly created secrets) */}}
{{- if and (eq "true" (include "akeyless-gateway.clusterCache.enabled" .)) (eq "true" (include "akeyless-gateway.enableScaleOutOnDisconnectedMode" .)) }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "akeyless-gateway.getServiceAccountName" $ }}-secret-access
  namespace: {{ $.Release.Namespace | quote }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    resourceNames: [{{ include "akeyless-gateway.clusterCacheEncryptionKeySecret" . | quote }}]
    verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "akeyless-gateway.getServiceAccountName" $ }}-secret-access-binding
  namespace: {{ $.Release.Namespace | quote }}
subjects:
  - kind: ServiceAccount
    name: {{ template "akeyless-gateway.getServiceAccountName" $ }}
    namespace: {{ $.Release.Namespace | quote }}
roleRef:
  kind: Role
  name: {{ template "akeyless-gateway.getServiceAccountName" $ }}-secret-access
  apiGroup: rbac.authorization.k8s.io
{{- end }}
