{{ with .Values.globalConfig.serviceAccount }}
{{- if .create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "akeyless-gateway.getServiceAccountName" $ }}
  namespace: {{ $.Release.Namespace | quote }}
  {{- if .annotations }}
  annotations:
    {{- toYaml .annotations | nindent 4 }}
  {{- end -}}
  {{- if .labels }}
  labels:
    {{- toYaml .labels | nindent 4 }}
  {{- end -}}
{{- end -}}
{{- end -}}