{{ with .Values.deployment.service_account }}
{{- if (.create) }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "akeyless-api-gw.getServiceAccountName" $ }}
  namespace: {{ $.Release.Namespace | quote }}
  {{- if .annotations }}
  annotations:
    {{- toYaml .annotations | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}